*{
    box-sizing: border-box;
}

body {
    margin:0;
}
.stripe {
    border: 1px solid black; 
}
.stripe.side-menu {
    width: 200px;
    height: 400px;
    left: 0;
    background-color:#fdcb6e;
    padding: 15px;
    display: inline-block;

}
.stripe.header {
    bottom: 1px;
    height: 30px;
}
.stripe.right-page {
    width: calc(100% - 234px) ;
    margin: 15px;
    height: calc(400px - 30px);
    display: inline-block;


}
.stripe.middle-page {
    height: 400px;
}

.stripe.footer {
    height: 30px;
}