html,body{
    height: 100%;
    width: 100%;
}

.left-side, .right-side {
    height: 400px;
    width: 400px;
    border:1px solid black;
}

.left-side {
    align-items: flex-end;
    justify-content: center;

}

.container ,.left-side, .right-side {
    display: flex;
}
img {
    height: 50px;
    width: 50px;
}
p {
    max-width: 200px;
}

.right-side {
    align-items: center;
    justify-content: center;
}
